<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pure Example</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.0.3/pure-min.css">
</head>
<body>

	<!-- 创建表格 -->
	<table class="pure-table">
    	<thead>
        	<tr>
            	<th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>

        <tbody>
        	<tr>
            	<td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
            	<td>2</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
            	<td>3</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

    <!-- 创建按钮 -->
    <button class="pure-button pure-button-primary">Click Me</button>

    <!-- 创建表单 -->
    <form class="pure-form">
        <fieldset>
            <label for="name">Your Name</label>
            <input id="name" type="text" placeholder="Your Name">
            <label for="email">Your Email</label>
            <input id="email" type="email" placeholder="Your Email">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>

</body>
</html>
